

<div class="jumbotron">
  <h1>A New Way to Follow Creativity</h1>
  <p>Track Major Crowdfunding Sites at one place</p>
  <%= image_tag "http://img4.wikia.nocookie.net/__cb20130920162123/americanmcgeesalice/images/2/26/Kickstarter-logo-light.png",  :size => "250x40"%>
  <%= image_tag "https://images.indiegogo.com/file_attachments/774249/files/20140808052947-indie.png?1407500987", :size => "250x50" %>
  <%= image_tag "http://upload.wikimedia.org/wikipedia/commons/8/87/Crowdtilt_Logo_Big.png", :size => "250x50" %>
  <br>
  <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </div>
  

  

</div>
